.sidebar-container {
    background-color: black;
    width: 20vw;
    min-width: 17em;
    height: 100vh;
    color: white;
    position: absolute;

    left: -100%;
    transition: 0.8s;
}

.sidebar-container.active {
    left: 0;
    transition: 0.35s;
}

.sidebar-container:inactive {
}

.header-container {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
}

ul {
    padding: 0;
    margin-top: 0.5em;
}

li {
    padding-left: 2em;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    margin: 0;
    transition: background 0.2s ease-out;
}

.sidebar-nav-link {
    text-decoration: none;
    vertical-align: text-bottom;
    color: white;
    font-size: x-large;
    padding-left: 0.5em;
}

li:hover {
    background-color: gray;
    transition: background 0.2s ease-in;
}

.menu-button {
    position: absolute;
}

a {
    color: inherit;
}
