.sidebar-container {
    background-color: black;
    width: 20vw;
    min-width: 22em;
    height: 100vh;
    color: white !important;
    position: fixed;

    left: -100%;
    transition: 0.8s;
}

.sidebar-container.active {
    left: 0;
    transition: 0.35s;
}

.sidebar-header-container {
    padding-left: 2em;
    padding-top: 1em;
    display: flex;
    flex-direction: row;
}

ul {
    padding: 0;
    text-decoration: none !important;

    height: 100%;
}

li {
    transition: background 0.2s ease-out;
}

.sidebar-nav-link {
    text-decoration: none !important;
}

.sidebar-list-item {
    padding-bottom: 0.7em;
    padding-top: 0.7em;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.side-bar-link-icon {
    padding-left: 2em;
}

.side-bar-link-text {
    vertical-align: text-top;
    font-size: x-large;
    padding-left: 0.5em;
    text-decoration: none;
}

span {
    color: white;
}

li:hover {
    background-color: gray;
    transition: background 0.2s ease-in;
}

.menu-button {
    margin: 2em;
    color: black;
    position: fixed;
}

.close-menu-icon {
    margin-left: 2em;
}
