html,
body,
#root {
    height: 100%;
}
.full-height {
    padding: 0;
    margin: 0;
    height: 100%;
}

.page-container {
    padding-left: 2em;
    width: 100%;
    /*background-color: #3d9970;*/
}
