.outer-page-container {
    width: 100vw;
    height: 100vh;

    /*for nice colour gradients see: https://uigradients.com/#RoyalBlue*/
    /*background: linear-gradient(to right, #536976, #292e49);
    color: whitesmoke;*/
}

.inner-page-container {
    padding: 8em;
    padding-top: 3em;

    align-items: center;
    place-content: center;
}
